$flaticon-font: "flaticon";

@font-face {
    font-family: $flaticon-font;
    src: url("./flaticon.ttf?f4f990273829fdb9ae58693b6b6011a9") format("truetype"),
url("./flaticon.woff?f4f990273829fdb9ae58693b6b6011a9") format("woff"),
url("./flaticon.woff2?f4f990273829fdb9ae58693b6b6011a9") format("woff2"),
url("./flaticon.eot?f4f990273829fdb9ae58693b6b6011a9#iefix") format("embedded-opentype"),
url("./flaticon.svg?f4f990273829fdb9ae58693b6b6011a9#flaticon") format("svg");
}

i[class^="flaticon-"]:before, i[class*=" flaticon-"]:before {
    font-family: flaticon !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

$flaticon-map: (
    "advertising": "\f101",
    "connection": "\f102",
    "direction": "\f103",
    "focus": "\f104",
    "home": "\f105",
    "learning": "\f106",
    "web-design": "\f107",
    "web-programming": "\f108",
    "webinar": "\f109",
);

.flaticon-advertising:before {
    content: map-get($flaticon-map, "advertising");
}
.flaticon-connection:before {
    content: map-get($flaticon-map, "connection");
}
.flaticon-direction:before {
    content: map-get($flaticon-map, "direction");
}
.flaticon-focus:before {
    content: map-get($flaticon-map, "focus");
}
.flaticon-home:before {
    content: map-get($flaticon-map, "home");
}
.flaticon-learning:before {
    content: map-get($flaticon-map, "learning");
}
.flaticon-web-design:before {
    content: map-get($flaticon-map, "web-design");
}
.flaticon-web-programming:before {
    content: map-get($flaticon-map, "web-programming");
}
.flaticon-webinar:before {
    content: map-get($flaticon-map, "webinar");
}
