@font-face {
    font-family: "flaticon";
    src: url("./flaticon.ttf?f4f990273829fdb9ae58693b6b6011a9") format("truetype"),
url("./flaticon.woff?f4f990273829fdb9ae58693b6b6011a9") format("woff"),
url("./flaticon.woff2?f4f990273829fdb9ae58693b6b6011a9") format("woff2"),
url("./flaticon.eot?f4f990273829fdb9ae58693b6b6011a9#iefix") format("embedded-opentype"),
url("./flaticon.svg?f4f990273829fdb9ae58693b6b6011a9#flaticon") format("svg");
}

i[class^="flaticon-"]:before, i[class*=" flaticon-"]:before {
    font-family: flaticon !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.flaticon-advertising:before {
    content: "\f101";
}
.flaticon-connection:before {
    content: "\f102";
}
.flaticon-direction:before {
    content: "\f103";
}
.flaticon-focus:before {
    content: "\f104";
}
.flaticon-home:before {
    content: "\f105";
}
.flaticon-learning:before {
    content: "\f106";
}
.flaticon-web-design:before {
    content: "\f107";
}
.flaticon-web-programming:before {
    content: "\f108";
}
.flaticon-webinar:before {
    content: "\f109";
}
